<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text"  v-model="mytext">
        函数表达式{{mymethod()}}
        <ul>
            <li v-for="(item,index) of mymethod()">{{item}}</li>
        </ul>
    </div>
    <script>
        const vm=new Vue({
            el:'#box',
            data:{
                mytext:'',
                dataList:['aaa','bbb','ddd','abd','bad','acb','bdd','abcd','ddb','cbd'],
            },
            methods:{
                mymethod(){
                    return this.dataList.filter((item)=>item.includes(this.mytext))

                }
            }

        })
    </script>
</body>
</html>